/* ===================================================== */
/* STYLE.CSS */
/* ===================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: Arial, sans-serif;

  overflow: hidden;

  background: #f1f1f1;
}


/* ===================================================== */
/* TOPBAR */
/* ===================================================== */

.topbar {

  height: 80px;

  background: #00184d;

  color: white;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 20px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.2);

  z-index: 1000;
}

.topbar h1 {

  font-size: 20px;

  font-weight: bold;
}


/* ===================================================== */
/* FILTROS */
/* ===================================================== */

.filtros {

  display: flex;

  gap: 12px;
}

.filtros input,
.filtros select {

  height: 48px;

  border: none;

  border-radius: 12px;

  padding: 0 16px;

  font-size: 15px;

  outline: none;
}

.filtros input {

  width: 220px;
}

.filtros select {

  width: 190px;
}


/* ===================================================== */
/* MAPA */
/* ===================================================== */

#map {

  width: 100%;

  height: calc(100vh - 80px);
}
